:root {
  --max-width: 900px;
  --width: 90%;
  --primary-color: #FF6701;
  --primary-background: #FFFFFF;
  --secondary-background: #f2f3f5;

}

body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}


